<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>InitMethod</display-name>
	<servlet>
		<servlet-name>MyServlet</servlet-name>
		<display-name>MyServlet</display-name>
		<description></description>
		<servlet-class>com.app.servlet.MyServlet</servlet-class>
		<init-param>
		<param-name>sid</param-name>
		<param-value>10</param-value>
		</init-param>
		<init-param>
		<param-name>sname</param-name>
		<param-value>siva</param-value>
		</init-param>
		<init-param>
		<param-name>sfee</param-name>
		<param-value>5000.0</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServlet</servlet-name>
		<url-pattern>/myServlet</url-pattern>
	</servlet-mapping>

</web-app>
